<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workday Scheduler</title>

    <!-- Added link to the jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/296e540bc3.js" crossorigin="anonymous"></script>

    <!-- Added a link to Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Momentjs -->
    <script src="https://momentjs.com/downloads/moment.js"></script>

    <!-- custom css file -->
    <link rel="stylesheet" href="/memberStyle.css" />

</head>

<body>
    {{{ body }}}
</body>

</html>