<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Workday Scheduler</a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div>
    <header class="text-center p-5 border-bottom">
        <h1>Workday Scheduler</h1>
        <h6>A single calendar app for scheduling your work day</h6>
        <h6 class="date"></h6>
    </header>
</div>
<div class="container p-5 calendar"></div>

<script src="/memberScript.js"></script>